{% extends 'base.html.twig' %}

{% block title %}New Vaccins{% endblock %}

{% block body %}
    <h1>Create new Vaccins</h1>

    {{ include('vaccins/_form.html.twig') }}

    <a href="{{ path('vaccins_index') }}">back to list</a>
{% endblock %}
