<footer>
    <div class="uk-margin ">
        <img src="/image/chickenNav.png" alt="logo" />
    </div>
    <div id="footer-align" class="uk-flex uk-flex-center uk-flex-top uk-margin">
        <div>
            <h3>Informations</h3>
            <p><a href="#" title="Contact">Contact</a></p>
            <p><a href="#" title="faq">FAQ</a></p>
        </div>
        <div>
            <h3>Services</h3>
            <p><a href="#" title="vaccins">Vaccines</a></p>
            <p><a href="#" title="rappel">Reminder</a></p>
        </div>
        <div>
            <h3>Legal</h3>
            <p><a href="#" title="mentions légales">Legal Notice</a></p>
            <p><a href="#" title="Politique de confidentialité">Privacy policy</a></p>
            <p><a href="#" title="CGVU">GCSU</a></p>

        </div>
    </div>
    <div>
        <a href="" title="youtube"><img src="/image/ico-youtube.webp" alt="youtube" /></a>
        <a href="" title="instagram"><img src="/image/ico-insta.webp" alt="instagram" /></a>
        <a href="" title="facebook"><img src="/image/ico-fb.webp" alt="facebook" /></a>
    </div>
    <p>Copyright © Drunk Chikens 2020 All rights reserved</p>
</footer>