{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ h1Title }}</h1>
    {% block content %}
        <img src="https://placehold.it/200x200" class="rounded float-left" alt="...">
        <img src="https://placehold.it/200x200" class="rounded float-right" alt="...">
    {% endblock %}
{% endblock %}
