{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ h1Title }}</h1>
    {% block content %}
        <a href="/medocs/"><img src="https://placehold.it/200x200" class="rounded float-left" alt="..."></a>
        <a href="/register"><img src="https://placehold.it/200x200" class="rounded float-right" alt="..."></a>
    {% endblock %}
{% endblock %}
