{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ h1Title }}</h1>
    {% block content %}
        <button type="button" class="btn btn-primary btn-lg">Mailer</button>
        <button type="button" class="btn btn-primary btn-lg">Medocs librairie</button>
    {% endblock %}
{% endblock %}
