{% extends 'base.html.twig' %}
{% block body %}
    <section id="first-section">
        <div class="uk-container">
            <article  class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">

                    <img src="https://up-magazine.info/wp-content/uploads/2020/05/vaccin.jpg" alt="serignue qui se recharge dans son pot" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Drunk chikens</h3>
                        <p>As part of the hackathon in partnership with DoctoLib, we decided to work on a reminder functionality that we will introduce you.</p>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#a2d9ff" fill-opacity="1" d="M0,192L120,170.7C240,149,480,107,720,96C960,85,1200,107,1320,117.3L1440,128L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
    <section class="uk-container">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                <img src="/image/image2.jpg" alt="image d'agenda" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Vaccines reminders</h3>
                    <p>The example that we are going to use will be related to the adult and child vaccines reminders, by dint of personalization of alerts via its individual space.</p>
                </div>
            </div>
        </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#a2d9ff" fill-opacity="1" d="M0,256L120,250.7C240,245,480,235,720,213.3C960,192,1200,160,1320,144L1440,128L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
    <section id="last-section">
        <div class="uk-child-width-1-2@m uk-flex-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://compllc.org/wp-content/uploads/2017/07/IMG_2175-1500x1000.jpg" alt="photos de profesionnels de la santé">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Other applications</h3>
                        <p>This system can be extended to all types of services requiring periodic consultations (dentist, ophthalmologist, gyneco ...).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
