{% extends 'base.html.twig' %}

{% block title %}Edit Medocs{% endblock %}

{% block body %}
    <h1>Edit Medocs</h1>

    {{ include('medocs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('medocs_index') }}">back to list</a>

    {{ include('medocs/_delete_form.html.twig') }}
{% endblock %}
