{% extends 'base.html.twig' %}

{% block title %}New Medocs{% endblock %}

{% block body %}
    <h1>Create new Medocs</h1>

    {{ include('medocs/_form.html.twig') }}

    <a href="{{ path('medocs_index') }}">back to list</a>
{% endblock %}
